# compiled output
/dist
/node_modules

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea

.env
.env.*


.cookies/*
assets/*
!assets/favicon.ico
!assets/robots.txt
!assets/index.html
!assets/test.jpg

/build
package-lock.json

.turbo

__generated__

.credentials

assets-for-test/*
!assets-for-test/.gitkeep
!assets-for-test/images

http-client.private.env.json
