# compiled output
/dist
/node_modules

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea

.env
.env.*


.cookies/*
assets/*
!assets/favicon.ico
!assets/robots.txt
!assets/index.html
!assets/test.jpg

/build
package-lock.json

.turbo

/__generated__

.credentials

__test_assets__/*
!__test_assets__/.gitkeep
!__test_assets__/images

http-client.private.env.json

*.traineddata

__test_assets__/images/private/*
!__test_assets__/images/private/.gitkeep
